.caja {
     display: block;
     position: relative;
     border: 1px solid black;
     width: 40px;
     height: 40px;
     margin: 5px;
     background-color: pink;
}
 
 .caja2 {
     width: 170px;
     height: 50px;
     display: block;
     position: relative;
     border: 1px solid black;
     margin-right: 1180px;
     background-color: purple;
     display: inline-block;
 }

 .tres{
     display: inline-block;
 }

 .cuatro{
     display: inline-block;
 }
 
 
 
 .solo {
     display: block;
 }